/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
 }


/* general styles */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open-Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: rgba(30, 74, 74, 0.38);
}

.container {
    width: 550px;
    height: 450px;
}

.header {
    font-size: 1.2rem;
    border: 2px solid #fff;
    color: #ffff;
    background-color: #262626;
    padding: 5px;
    width: 80%;
    margin: 20px;
    border-radius: 5px;
}

.main-contetnt{
    width: 100%;
    height: 400px;
    background-color: #fff;
    border-radius: 15px;
    padding: 50px 40px;
    box-shadow: 0 0 10px;

}


.main-contetnt .text-area {
    font-size: 1.5rem;
    line-height: 1;
}

.main-contetnt .person {
    font-size: 1.6rem;
    color: red;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 2px;
}

.button-area button {
    background-color: #262626;
    color: #fff;
    font-size: 1.3rem;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 5px;    
}

.button-area button:active {
    background-color: lightblue;
}
 */

 /* Sencod Page */

/*  body{
    background-color: rgba(216, 204, 191, 0.604);
    height: 100vh;
    position: relative;
 }

 #open-btn{
    position: absolute;
    top: 70%;
    left: 10%;
    background: transparent;
    width: 350px;
    height: 80px;
    font-size: 2rem;
    color: #020304;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 3px black;
    transition: 5s;
 }


 #open-btn:hover{
    background-color: rgb(58, 143, 186);
    color: #020304;
 }

 #model {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    animation-name: animatemodal;
    animation-duration: .4s;
 }

 #close-btn {
    font-size: 3rem;
 }

#close-btn {
    cursor: pointer;
    font-size: 3rem;
    color: #1d3852;
}

#container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    background-color: rgb(0, 0, 0, .2);
}

@keyframes animatemodal {
    from {
        top: -300px
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
} */

/* body {
    background-color: rgba(184, 184, 46, 0.726);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion {
    width: 65%;
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
}

.accordion .accordian-title {
    margin-bottom: 30px;
    text-align: center;
    
}

.accordion .content-container .question {
    padding: 18px 0px;
    font-size: 22px;
    cursor: pointer;
    border-bottom: 1px solid #000;

    position: relative;
}

.accordion .content-container .question::after{
    content: '+';

    position: absolute;
    right: 20px;
}

.accordion .content-container .answer {
    padding-top: 15px;
    font-size: 22px;
    line-height: 1.5;
    width: 100%;

    height: 0;
    overflow: hidden;
    transition: .5s;
}

.accordion .content-container.active .answer{
    height: 150px;
}

.accordion .content-container.active .question{
    font-size: 18px;
    transition: .5s;
}

.accordion .content-container.active .question::after{
    content: '-';
    font-size: 30px;
    transition: .5s;
} */

/* js 4 */

/* body{
    height: 100vh;
    background-color: rgba(173, 216, 43, 0.66);
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 60%;
    height: 250px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 3px;
}

#timer{
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
    padding: 35px;
}

.buttons{
    text-align: center;
}

button {
    margin: 0 10px;
    border: none;
}

button i {
    font-size: 2rem;
    padding: 10px;
    color: #fff;

}

#play {
    background-color: green;
}

#reset {
    background-color: red;
}

#pause{
    background-color: orange;
} */

/* js-5 */

body{
    height: 100vh;
    background-color: rgb(92, 209, 170);
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-task-contianer{
    width: 350px;
    padding: 20px 10px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 3px;
    
    display: flex;
}

input{
    flex: 5;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 5px;
}

#add-task {
    flex: 1;
    transition: .3s;
    
    font-size: 1.2rem;
    padding: 5px;
    
    background-color: #ffff;
    color: green;
    border: 2px solid green;
    border-radius: 10px;
}

#add-task:hover{
    background-color: green;
    color: #fff;
}